/* Sempre que alguém perguntar qual é o css global, me chama */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  /* background-color: aqua; */
  min-height: 100vh;
}

:root{
  --cor-1: #e23e57;
  --cor-2: #ffffff;
  --cor-3: #e96a7e;
  --cor-4: #ce1f3a;
  --cor-5: #e6e6e6;
  --cor-6: #ef97a4;

  --cor-fonte: #ce1f3a;
  
}